<div class="row">
	<div class="col-lg-12"><p>Placeholder For secondary menu in places such as Settings</p></div>
</div>

<div class="row">
	<div class="col-lg-8">
		<div class="container-fluid">
			<div class="jumbotron">
				<h1>Welcome to Rate my Bike</h1>
				<p>The place for you to view, rate and comment on the best bike porn around. Show off your style and upload yours today.</p>
				<p><a class="btn btn-primary btn-lg" role="button">Sign Up</a><p>
			</div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">Random Bikes</div>
				<div class="panel-body"><p>List of random bikes</p></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">Statistics</div>
				<div class="panel-body"><p>Stats Placeholder</p></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">Featured Bike</div>
				<div class="panel-body"><p>This week's featured bike</p></div>
			</div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">Latest Bikes</div>
				<div class="panel-body"><p>List of Latest Bikes</p></div>
			</div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">Best Rated Bikes</div>
				<div class="panel-body"><p>Best Rated Bikes</p></div>
			</div>
		</div>
	</div>
</div>