<div class="container-fluid" id="comment">
	<%= image_tag @user.avatar.thumb("40x40#n").url, class: "comment-avatar" %>
	<div class="comment-content"><p><%= comment.content %></p></div>
	<div class="timestamp"><p><%= link_to time_ago_in_words(comment.created_at), bike_path(comment.bike_id) %> ago</p></div>
</div>