<% provide(:title, @user.username) %>

<div class="container-fluid">
	<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1 col-lg-2 col-lg-offset-2">
				<div class="well">
					<%= render 'shared/mini_profile' %>
				</div>
				<div class="well">
					<%= render 'shared/user_stats' %>
				</div>
			</div>
		<div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
			<div class="well">
				<%= unless @profile_bikes.empty? then render @profile_bikes else "#{@user.username} Hasn't added any of his bikes yet." end %>
			</div>
			<div class="well">
				<%= unless @profile_comments.empty? then render @profile_comments else "#{@user.username} Hasn't commented on anyone else bikes yet." end %>
			</div>
		</div>
	</div>
</div>
