<% @user ||= current_user %>
<div class="container-fluid" id="user-info">
	<img src="<%= "/assets/images/avatars/#{@user.avatar}" %>" class="img-thumbnail" id="profile-avatar"></img>


	<h3><%= @user.username %></h3>


	<p>Description Space</p>
</div>