<% @user ||= current_user %>
<div class="container">
	<img src="<%= "public/assets/images/avatars/#{@user.avatar}" %>"></img>
</div>
<div class="container">
	<%= @user.username %>
</div>
<div class="container">
	<p>Description Space</p>
</div>