<% @user ||= current_user %>
<div class="container-fluid" id="stats">
	<a href="#">
		<strong id="bikes" class="stat">
			4
			<% #@user.bikes.count %>
		</strong>
	Bikes
	</a>
	<a href="#">
		<strong id="friends" class="stat">
			5
			<% #@user.friends.count %>
		</strong>
	Friends
	</a>
	<a href="#">
		<strong id="comments" class="stat">
			6
			<% #@user.comments.count %>
		</strong>
	Comments
	</a>
</div>