<div class="container-fluid" id="bike-info">
	<h3><%= "#{@user.username}'s #{@bike.name}" %></h3>
	<p>This bike is a <strong><%= "#{@bike.make} #{@bike.model}" %></strong>, here's what the owner has to say about it;</p>
	<p><%= "#{@bike.description}" %></p>
</div>