<% provide(:title, "#{@user.username}'s #{@bike.name}".html_safe ) %>

<div class="container-fluid">
	<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
				<div class="well">
					<%= image_tag @bike.picture.url %>
				</div>
				<div class="well">
					<p>Rating placeholder</p>
				</div>
				<div class="well">
					Graph Placeholder
				</div>
			</div>
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-3 col-md-offset-0 col-lg-3">
			<div class="well">
				<%= render partial: 'bikeInfo', :object => {:bike => @bike, :user => @user } %>
			</div>
			<div class="well">
				<%= render 'shared/comment_form' %>
			</div>
		</div>
	</div>
</div>
