@import "bootstrap";

/* Mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.fa {
	color: gray;
}

/* Universal */

#comment {
	display: block;
	margin-bottom: 10px;
}

.comment-avatar {
	float: left;
	margin-right: 5px;
}

.comment-content {
	float: left;
	display: block;
}

.timestamp {
	float: left;
	display: block;
}

/* Navbar */

.navbar {
	margin-bottom: 0;
}

/* Sidebar Nav */

#wrapper {
	padding-left: 70px;
	transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
	margin-left: -70px;
	left: 70px;
	width: 70px;
	height: 100%;
	background: #000;
	position: fixed;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}

.sidebar-nav {
	position: absolute;
	left: 0;
	width: 70px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	text-align: center;
}

.sidebar-nav li {
	line-height: 40px;
	margin: 0 auto;
}

.sidebar-nav li a {
	display: block;
	color: $gray-light;
}

.sidebar-nav li a:hover {
    background: $gray-dark;
	color: #fff;
}

.sidebar-nav li i {
	vertical-align: middle;
}

#nav-avatar {
	height: 35px;
	width: 35px;
}

/* content */

#content-wrapper {
	margin-top: 20px;
	margin-left: 90px;
}

/* forms */

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .has-error;
}

/* User Profile */

#stats {
	
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid gray;
		color: gray;
		&:first-child {
			padding-left: 10px;
			border: 0;
		}
		&:last-child {
		padding-right: 0;
		}
		&:hover {
			text-decoration: none;
			
		}
	}
	strong {
		text-align: center;
		display: block;
	}
}

#user-info {
	text-align: center;
}

/* Bike Profile */

#bike-info {
	padding: 0;
	h3 {
		margin-top: 0px;
	}
}