<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
     		<a class="navbar-brand" href="#">Rate My Bike</a>
     	</div>

     	<%= form_for(:session, url: sessions_path, html: {class: "navbar-form navbar-right"})  do |f| %>
     		<%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
     		<%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
     		<%= f.submit "Sign in", class: "btn btn-default" %>
     	<% end %>
    </div>
</nav>